body{
    background-color: #ffffcc;
}
h1{
    font-size: 70px;
    text-align: center;
}

.center-style
{
text-align: center;
}

.hideBlock-style {
    display: none;
    text-align: center;
}
.canvas-style{
    border: 5px solid black;
    background: white;
    display: block;
    margin: 0 auto;
}
.footer-style {
    background-color: #ffcdd2;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%
}